body{
  background-image: url("https://img.freepik.com/free-photo/fantasy-style-clouds-with-city_23-2151057678.jpg?size=626&ext=jpg&ga=GA1.1.2038119309.1707818416&semt=sph");
  background-repeat: no-repeat;
  background-size: cover;
}