body{
  background-image: url("https://img.freepik.com/free-photo/beautiful-scenery-sunset-reflecting-sea-breathtaking-colorful-clouds_181624-10481.jpg?w=900&t=st=1708066907~exp=1708067507~hmac=f1839a8b5ef2aed29bc35d018d75a7dce9fa1dd54178a40ce398f4e8d2b11e8b");
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}